<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<title>shopping Cart </title>
</head>
<body>
    <div id="app">
      {{{body}}}
    </div>
<script src="/static/dist/bundle.js"></script>
</body>
</html>